<!--菜品配置文件-->

<config>
	<main>
	<!--主菜-->
		<noodles name="螺蛳粉">
			<price type="二两">6</price>
			<price type="三两">7</price>
		</noodles>
		<noodles name="桂林米粉">
			<price type="二两">7</price>
			<price type="三两">8</price>
		</noodles>
	</main>
	<side>
		<item name="腐竹">
			<price>2</price>
		</item>
	</side>
</config>
